.statsContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.header {
  text-align: center;
}

.mainContainer{
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
}

.TopScorersList {
  padding: 0;
  width: 30%;
  background-color: #1F2833;
  color: white;
  border-radius: 10px;
}

.PlayerStatsItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  counter-increment: list-counter;
  position: relative; 
}

.PlayerStatsItem::before {
  content: counter(list-counter); 
  font-weight: bold;
  margin-right: 10px;
}

.PlayerPhoto {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.PlayerName {
  font-weight: bold;
}

.PlayerGoals {
  color: #c5c6c7;
}

