.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  color: white;
}
.inputContainer {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
}

.fileInputContainer {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
}

.fileInputLabel {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
  height: 50px;
  border: 1px solid #ccc;
}

.uploadIcon {
  margin-right: 10px;
}

.fileInput {
  font-size: 100px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.titleInput,
.contentInput,
.leagueSelect {
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.titleInput {
  width: 50%;
  margin: 0 auto;
}

.contentInput {
  width: 50%;
  height: 50%;
}

.submitBtn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.leagueLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.leagueSelect {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.leagueSelect option {
  font-size: 14px;
}

.leagueSelect:hover,
.leagueSelect:focus {
  border-color: #007BFF;
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
}

.leagueSelect:active,
.leagueSelect.open {
  border-color: #0056b3;
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
}

.errorMessage {
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (max-height: 950px) {
  .contentInput, .titleInput, .leagueSelect{
    width: 80%;
  }
  .leagueSelect {
    font-size: xx-large;
  }
}