.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  justify-content: flex-start;
  color: white;
  height: 100vh;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 62vw;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
}

.buttonContainer button {
  margin: 0 10px 0 10px;
  cursor: pointer;
  padding: 5px;
  background: transparent;
  border: none;
  font-weight: bolder;
  color: white;
}

.activeButton {
  position: relative;
}

.activeButton::before {
  content: '';
  position: absolute;
  top: -3px; 
  left: 0;
  right: 0;
  height: 5px;
  background-color: greenyellow;
}

@media screen and (max-height: 1369px) {
  .profileContainer{
    margin: 0;
    width: 90%;
  }
  .buttonContainer{
    width: 80vw;
  }
}