.yearSelect {
  background-color: #89fc00; 
  color: #1F2833; 
  border: none; 
  border-radius: 5px; 
  padding: 5px 10px; 
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.yearSelect:hover {
  background-color: #4ede15; 
}

.yearSelect:focus {
  outline: none; 
  border: 2px solid #4ede15; 
}

.yearSelect option {
  background-color: #1F2833; 
  color: white; 
}


.standingsContainer {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standingsTable {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerCell, .cell, .teamCell {
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.teamCell {
  width: 15vw;
  background-color: #1F2833;
  color: white;
}

.headerCell {
  background-color: #f2f2f2;
}

.cell:nth-child(odd) {
  background-color: #f9f9f9;
}

.cell:nth-child(even) {
  background-color: #e6e6e6;
}

.cell, .headerCell, .teamCell {
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .cell, .headerCell {
    font-size: 14px;
  }
}

.link {
  text-decoration: none;
  color: White;
  font-weight: 600;
}

.link:visited {
  color: White;
}

.link:hover {
  border-bottom:2px solid #89fc00;
  font-weight: bolder;
}

.logo {
  height: 30px;
}

.teamContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
}

.mainContainer {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .headerCell, .cell, .teamCell {
    padding: 2px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  .headerCell {
    font-size: 10px;
  }
  .cell, .teamCell {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo{
    height: 15px;
  }
  .standingsContainer {
    overflow-x: auto;
    margin: 5px;
  }

  .yearSelect {
    margin-top: 10px;
    width: 50%;
    margin: auto;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
  }
}