.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 600px;
}

.header {
  margin-bottom: -5px;
}

body {
  overflow: auto;
}

.noPostsContainer {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.noPostsContainer p {
  font-size: 18px;
}