.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.interests {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  overflow-y: auto;
  background-color: #D3D3D3;
}