@font-face {
  font-family: 'sport-font';
  src: url('../../assets/Fonts/sports-night.ttf') format('truetype');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 150px;
  color: black;
  height: 80%;
  width: 70%;
  background: linear-gradient(to right, #f0f0f0, #d3d3d3);
  padding: 20px;
}

.header {
  font-family: 'sport-font', sans-serif;
  position: relative;
  font-size: 44px;
  display: inline-block;
  color: black;
  /* -webkit-text-stroke: 0.5px #89fc00; */
}


.interests {
  display: flex;
  width: 80%;
  overflow-y: auto;
  background-color: #D3D3D3;
  height: 200px;
}

.searchBarContainer {
  margin-left: auto;
  margin-top: -60px;
}

.searchBarContainer ul {
  align-items: center;
  background-color: #D3D3D3;
}

.searchBarContainer li {
  color: black;
  margin: auto;
}

.secondContainer {
  display: flex;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-around;
}

.trendingBlogs {
  width: 50%;
}

.joinedCommunities,
.notifications,
.trendingBlogs {
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.joinedCommunities {
  height: 60% ;
  padding: 20px;
  background-color: #FFFFFF; /* White background */
  border-radius: 10px;
}

.notifications,
.trendingBlogs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notifications {
  padding: 20px;
  background-color: #FFFFFF; /* White background */
  border-radius: 10px;
  margin-top: 10px;
}

.communitiesNotificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.communitiesList {
  background-color: #ecf0f1;
  list-style: none;
  text-align: center;
  padding: 0;
}

.bell {
  height: 100%;
  color: black;
  font-size: 24px;

}

.iconWrapper {
  width: 80px;
  height: 80px;
  position: relative;
}

.iconWrapper:after {
  content: attr(data-number);
  width: 40px; 
  height: 40px;
  background-color: #89fc00;
  color: black;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transform: translate(3px);
}

.iconWrapper:hover::after {
  opacity: 1;
  transform: translate(0);
  transition: opacity .25s;
  transform: .25s;
}

.iconWrapper:hover .bell {
  animation: shake 1s forwards;
}

@keyframes shake {
  10%{
    transform: rotate(15deg);
  }
  20%{
    transform: rotate(-15deg);
  }
  30%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(0deg)
  }
}

.trendingBlogs {
  padding: 20px;
  background-color: #FFFFFF; /* White background */
  border-radius: 10px;
}