@font-face {
  font-family: 'sport-font';
  src: url('../../assets/Fonts/airstrike.ttf') format('truetype');
}

@font-face {
  font-family: 'sport-header';
  src: url('../../assets/Fonts/CollegiateBlackFLF.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  height: max-content;
  min-height: 100vh;
  width: 100vw;
  /* background: url("https://i.imgur.com/U4iATLy.png"); */
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  background-size: cover;
  background-position: center;
  padding: 10px;
  z-index: 998;
  overflow-y: auto;
}

.header {
  font-family: 'sport-font', sans-serif;
  position: relative;
  font-size: 75px;
  display: inline-block;
  color: black;
  -webkit-text-stroke: 1.5px white;
  margin: 1px;
}

.headerContainer {
  height: max-content;
  width:100vw;
  text-align: center;
}

.leagueLinksContainer {
  font-family: 'sport-font', sans-serif;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  padding: 10px;
  color: white;
}

.interests {
  display: flex;
  width: 95%;
  overflow-y: auto;
  background-color: white;
  height: 20vh;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchBarContainer {
  width: 50%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.searchBarContainer ul {
  align-items: center;
  background-color: #D3D3D3;
}

.searchBarContainer li {
  color: black;
  margin: auto;
}

.notifications,
.trendingBlogs,
.blogFormLink {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
}

.joinedCommunities h2 {
  font-family: 'sport-font', sans-serif;
}

.notifications h2 {
  font-family: 'sport-font', sans-serif;
}



.joinedCommunities {
  height: 100% ;
  padding: 5px;
  color: white;
  width: 50%;
  overflow-y: auto;
  text-align: center;
}

.notifications,
.trendingBlogs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notifications {
  padding: 5px;
  background-color: #003049;
  border-radius: 10px;
  color: white;
  height: 70%;
  width: 40%;
}

.notifications h1 {
  color: white;
}

.upcomingFixturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45% ;
  padding: 5px;
  height: 35vh;
  max-height: 300px;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.upcomingFixturesContainer h2 {
  color: white;
  font-family: 'sport-font', sans-serif;
}

.communitiesList {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.communitiesList a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.communitiesList a:visited {
  text-decoration: none;
  color: black;
}



.bell {
  height: 100%;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.bell:hover {
  color: #89fc00;
}

.iconWrapper {
  width: 80px;
  height: 80px;
  position: relative;
}

.iconWrapper:after {
  content: attr(data-number);
  width: 40px; 
  height: 40px;
  background-color: #89fc00 ;
  color: black;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transform: translate(3px);
  border: 1px solid black;
}

.iconWrapper:hover::after {
  opacity: 1;
  transform: translate(0);
  transition: opacity .25s;
  transform: .25s;
}

.iconWrapper:hover .bell {
  animation: shake 1s forwards;
}

@keyframes shake {
  10%{
    transform: rotate(15deg);
  }
  20%{
    transform: rotate(-15deg);
  }
  30%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(0deg)
  }
}

.trendingBlogs {
  color: white;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  margin-bottom: 10px;
}

.trendingBlogs h1 {
  font-family: 'sport-font', sans-serif;
}

.blogCards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.blogCard{
  background-color: transparent;
  color: white;
  width: 25vw;
  min-width:200px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.blogCard:visited {
  text-decoration: none;
  color: white;
}

.blogCard:hover {
  color: gray;
  transform: translateY(-2px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.blogCard img {
  width: 100%;
  margin-bottom: 0;
  height: 75%;
}

.blogCard h2 {
  position: relative;
  margin-top: 0;
  font-size: 20px;
}

.blogFormLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #003049;
  color: white;
  height: 70%;
  width: 40%;
  border-radius: 10px;
  text-align: center;
}

.blogFormLink a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'sport-font', sans-serif;
}

.blogFormLink a:visited{
  color: white;
}

.blogFormLink a:hover {
  color: #89fc00
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.communityContainer {
  display: flex;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
  width: 40vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  height: 35vh;
  max-height: 300px;
}
