.leagueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leagueContainer h1 {
  margin-top: 80px;
}


.leagueBlogCard {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: max-content;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leagueBlogCard img {
  width: 30%;
}

.articleContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  padding: 20px;
}

.articleContent p {
  color: #5b5b5b;
}