.communitiesHub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  border: 1px solid #ccc;
  padding: 20px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 30%;
  text-align: center;
  align-items: center;
  height: 700px;
  overflow-y: auto;
}

.joinedCommunitiesSection {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 70%;
  text-align: center;
  height: 700px;
  overflow-y: auto;
}

.joinedSearchContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
}

.communityCard {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.communityCard:hover {
  background-color: #ccc;
}

.createCommunitySection {
  flex: 1;
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}
