@font-face {
  font-family: 'Effra-Bold';
  src: url('../../assets/Fonts/TrialStaticFonts/Effra_Trial_Bd.ttf') format('truetype');
}

.blogCommentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.blogContainer {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: max-content;
  margin-top: 100px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Effra-Bold', sans-serif;
}

.blogContainer img {
  width: 30%;
}

.articleContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  padding: 20px;
}

.articleContent a {
  text-decoration: none;
  color: black;
}

.articleContent a:visited {
  text-decoration: none;
  color: black;
}

.commentsContainer {
  width: 60vw;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.commentFormContainer {
  width: 60vw;
  border: 1px solid #ccc;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .blogContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .blogContainer img {
    width: 100%;
  }
  .articleContent {
    width: 100%;
  }
  .articleContent h2{
    font-size: 16px;
  }
  .commentsContainer, .commentFormContainer{
    width: 90vw;
  }
  .commentsContainer {
    margin-bottom: 10px;
  }
}