.notificationContainer {
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: 150px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-decoration: none;
  color: black;
}

.notificationContainer:visited {
  text-decoration: none;
  color: black;
}


.notificationContainer.unread {
  background-color: #e2f0ff; 
}

.imgContainer {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  width: 90%;
  height: 50%;
  border-radius: 50%;
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}