.postCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.userInfo {
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  margin: 0;
}

.postImage {
  max-width: 100%;
  margin-top: 10px;
}

.buttonsContainer {
  width: 30% ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.replyButton {
  background-color: #4CAF50; /* Green color */
  color: black;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  bottom: 10px;
  width: fit-content;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.repliesButton {
  background-color: #4CAF50; /* Green color */
  color: black;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  bottom: 10px;
  left: 40px;
  width: fit-content;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.repliesContainer {
  margin-top: 10px;
}

.reply {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.reply p {
  margin-bottom: 5px;
}

.reply small {
  color: #555;
  font-size: 12px;
}