.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.imgContainer {
  position: relative;
  margin-bottom: 20px;
}

.profilePhoto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s;
}

.tooltip {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.imgContainer:hover .profilePhoto {
  filter: brightness(80%);
}

.imgContainer:hover .tooltip {
  opacity: 1;
}

.photoInput {
  display: none;
}

.photoLabel {
  cursor: pointer;
}

.form input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  color: black;
}

.form button:hover {
  background-color: #45a049;
}

.errorMessage {
  color: #ff0000; 
  margin-top: 5px;
  font-size: 14px;
}