.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.postContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.postCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  padding: 25px;
  background-color: white;
}

.postCard:visited {
  text-decoration: none;
  color: black;
}

.postCard h3 {
  font-size: 15px;
}

@media screen and (max-height: 1369px) {
  .postCard {
    width: 100%;
  }
}