.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}

.searchContainer select {
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchContainer select{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.searchContainer select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


.searchFormInput {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.searchTerm {
  width: 100%;
  border: 3px solid grey;
  border-right: none;
  padding: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 15%;
  height: 100%;
  border: 3px solid grey;
  background: grey;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
}

.searchResultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchDropdown {
  top: 0;
  width: calc(100% - 16px); 
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
}

.searchDropdown li {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.searchDropdown a {
  text-decoration: none;
  color: white;
}

.searchDropdown a:visited {
  text-decoration: none;
  color: #fff;
}

.searchDropdown button {
  margin-left: 8px;
  padding: 4px 8px;
  background-color: rgb(47, 108, 23); 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 20%;
}

.searchDropdown button:hover {
  background-color: white;
  color: grey
}

.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  border-radius: 50%;
}


.searchButton:hover {
  background-color: #45a049;
}


@media screen and (max-height: 950px){
  .searchContainer form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .searchContainer select {
    width: 50vw;
  }
}