
.links {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
}

.links li {
  margin-right: 20px; 
  padding: 5px;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid #89fc00;
}

.links li a {
  text-decoration: none;
  color: white; 
}

.links li:hover {
  border-bottom: 2px solid #ccc;
}

.links li a:visited {
  text-decoration: none;
  color: white;
}
.links li a:hover {
  color: white;
}

.links li a.nav-link {
  color: #fff; 
  text-decoration: none; 
}

.navContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #0b0c10;
  color: white;
  width: 100vw;
  position: relative;
}

.loggedInContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.linksContainer {
  margin-right: auto;
  display: flex;
  align-items: center;
  height: max-content;
  width: 10vw;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: max-content;
  margin-right: 10px;
  position: relative;
}

.userProfile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 10px; 
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  visibility: hidden;
  z-index: 10;
  font-weight: bold;
}

.dropdown.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown li:hover {
  background-color: #555;
  border-radius: 5px;
  color: #89fc00;
}

.dropdown li:hover a {
  color: #89fc00;
}

.dropdown a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dropdown a:visited {
  color: white;
}

.userProfile:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.homeLink {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
}

.homeLink:visited {
  color: white;
}

.homeLink:hover {
  color: #89fc00;
}

.homeIcon {
  font-size: 30px;
}

.bell {
  color: white;
  cursor: pointer;
  font-size: 34px;
}

.bell:hover {
  color: #89fc00;
}

.iconWrapper {
  position: relative;
  margin-left: auto;
}

.iconWrapper:after {
  content: attr(data-number);
  width: 15px; 
  height: 15px;
  background-color: #89fc00 ;
  color: black;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transform: translate(3px);
  border: 1px solid black;
}

.iconWrapper:hover::after {
  opacity: 1;
  transform: translate(0);
  transition: opacity .25s;
  transform: .25s;
}

.iconWrapper:hover .bell {
  animation: shake 1s forwards;
}

@keyframes shake {
  10%{
    transform: rotate(15deg);
  }
  20%{
    transform: rotate(-15deg);
  }
  30%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(0deg)
  }
}

@media screen and (max-width: 980px) {
  .notificationContainer {
    padding: 5px;
    border-radius: 10px;
    color: white;
    height: 40px; 
    width: 40px; 
    margin-left: 10px;
    position: relative; 
  }

  .bell {
    height: 100%;
  }
  
  .iconWrapper {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .iconWrapper:after {
    content: attr(data-number);
    width: 15px; 
    height: 15px;
    background-color: #89fc00;
    color: black;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: -5px; 
    right: -5px; 
    opacity: 1;
    transform: translate(3px);
    border: 1px solid black;
  }

  .dropdown {
    width: 30vw;
    z-index: 1;
  }
}