nav {
  background-color: #333; 
  padding: 10px; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000;
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px; 
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

li a {
  text-decoration: none;
  color: white; 
}

li:hover {
  color: black;
  background-color: #89fc00;
  border: 2px solid black;
}

li a:visited {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: black;
}

li a.nav-link {
  color: #fff; 
  text-decoration: none; 
}

