nav {
  background-color: #242E4C; 
  padding: 10px; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000;
}

.links {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
}

.links li {
  margin-right: 20px; 
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

.links li a {
  text-decoration: none;
  color: white; 
}

.links li:hover {
  color: black;
  background-color: #89fc00;
  border: 2px solid black;
}

.links li a:visited {
  text-decoration: none;
  color: white;
}
.links li a:hover {
  color: black;
}

.links li a.nav-link {
  color: #fff; 
  text-decoration: none; 
}

