.fixturesContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
  padding:10px;
}

.fixtureCard {
  background-color: #1F2833;
  border-radius: 8px;
  padding: 10px;
  height: 10vh;
  color: white;
}

.fixtureDate {
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.teamContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.awayTeam {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.homeTeam {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
}

.awayTeamName {
  width: max-content;
  text-align: right;
  flex-grow: 1;
}

.homeTeamName {
  width: max-content;
  text-align: left;
  flex-grow: 1;
}

.teamLogo {
  width: 30px; 
  height: auto;
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.teamScore {
  font-weight: bold;
  margin: 0 5px;
}

.scoreSeparator {
  font-weight: bold;
}

@media screen and (max-height: 950px) {
  .fixtureCard {
    height: 25vh;
    padding: 5px;
  }
  .awayTeam{
    width: 35%;
  }
  .homeTeam{
    width: 35%;
  }
  .fixturesContainer{
    width: 90%;
  }
}