.mainContainer {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
}

.mainContainer h1{
  color: white;
}

.fixturesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin: auto;
  height: 90%;
  overflow-y: auto;
  min-width: 300px;
}

.fixtureCard {
  background-color: #1F2833;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.fixtureDate {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.teamContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.awayTeam {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.homeTeam {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
}

.awayTeamName {
  width: max-content;
  text-align: right;
  flex-grow: 1;
}

.homeTeamName {
  width: max-content;
  text-align: left;
  flex-grow: 1;
}

.teamLogo {
  width: 30px; 
  height: auto;
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.teamScore {
  font-weight: bold;
  margin: 0 5px;
}

.scoreSeparator {
  font-weight: bold;
}

@media screen and (max-width: 1180px) {
  .fixturesContainer{
    width: 90%;
  }
  .homeTeam{
    width: 35%;
  }
  .awayTeam{
    width: 35%;
  }
  .scoreContainer{
    margin: 5px;
  }
  .yearSelect {
    margin-top: 10px;
    width: 50%;
    font-size: xx-large;
    margin: auto;
  }
  .mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
