.commentCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.imgContainer {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.imgContainer img {
  width: 70%;
  border-radius: 50%;
}

.commentContent {
  border-bottom: 1px solid #ccc;
  width: 90%;
}

.commentAuthor {
  color: #575656;
  margin-top: 5px;
}

.commentCreatedAt {
  font-size: 13px;
}

.buttonsContainer {
  margin-bottom: 20px;
}

.repliesContainer {
  margin-top: 10px;
}

.reply {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  height: max-content;
  width: 100%;
  margin-bottom: 10px;
}


.replyP {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  left: auto;
}

.replyAuthor {
  font-weight: bold;
  color: blue;
}

.replyContent {
  font-weight: bold;
}

.replyImg {
  margin-top: 4px;
  border-radius: 50%;
}