*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

nav {
  background-color: #333; 
  padding: 10px; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000;
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px; 
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

li a {
  text-decoration: none;
  color: white; 
}

li:hover {
  color: black;
  background-color: #89fc00;
  border: 2px solid black;
}

li a:visited {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: black;
}

li a.nav-link {
  color: #fff; 
  text-decoration: none; 
}