.blogCard {
  width: 32%;
  margin: 4px;
  position: relative;
  overflow: hidden;
}

.blogCard img {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
}

.overlay {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay a {
  text-decoration: none;
}

.overlay a:visited {
  text-decoration: none;
}

.blogCard:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  color: white;
  font-size: 20px;
  margin: 0;
}
@media screen and (max-width: 1180px) {
  .blogCard {
    width:80%
  }
  .blogContainer{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .blogCard {
    width: 90%;
  }
}
