.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(0deg, #131313 34.38%, rgba(23, 23, 23, 0) 99.26%),#1F1C20 ;
}

.mainContainer h1 {
  color: black;
}

.teamStatsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 10px;
  align-items: center;
}

.teamInfoCard {
  width: 50vw;
  height: 25vh;
  padding: 20px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.teamForm {
  width: 80%;
  height: max-content;
  text-align: center;
}
.teamForm span {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.teamInfoCard h1 {
  margin-bottom: 10px;
  font-size: 24px; 
}

.teamInfoCard img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.league {
  display: flex;
  align-items: center;
}

.teamInfoCard span img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.teamInfoCard:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.teamInfoCard:hover {
  background-color: #e0e0e0;
}

.teamStats {
  padding: 20px;
  background-color: #1F2833;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; 
}

.teamStats h2 {
  font-family: 'sport-font', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.teamStats p {
  font-size: 16px;
  margin-bottom: 5px;
}

.stat {
  font-weight: bold;
  color: #007bff;
}

.teamStatsItem {
  margin-bottom: 20px; 
}


.win {
  color: rgb(13, 211, 13);
  font-weight: bold;
}

.draw {
  color: orange;
  font-weight: bold; 
}

.loss {
  color: red;
  font-weight: bold; 
}

.teamStats p {
  margin-bottom: 5px;
}

.teamInfoCard:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.teamInfoCard:hover {
  background-color: #e0e0e0;
}

.stat {
  font-weight: bold;
  color: #007bff;
}

@media screen and (max-height: 950px) {
  .teamStatsContainer{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
  .teamInfoCard {
    width: 90%;
    height: max-content;
  }

}